<div class="container-fluid">
    <% include partials/header %>
    <% include partials/nav %>


    <div class="bg-2">
        <div class="card-deck">
            <% ices.forEach(ice => {%>
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4 col-lg-4">
                        <img src="<%= ice.image %>" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= ice.header %></h5>
                            <p class="card-text"><%= ice.description %></p>
                            <p class="card-text"><small class="text-muted"><%= ice.createAt.toDateString() %></small>
                            </p>
                            <a href="/blog/<%= ice._id %>" class="btn btn-info">Jump to recipe</a>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>

    <% include partials/footer %>
</div>