<% include partials/header %>
<% include partials/nav %>


<div id="show" class="container mt-5">
    <h2 class="display-4"><%= ice.header %></h2>
    <div class="edit">
        <a href="/blog/<%= ice._id %>/edit" class="btn btn-info">Edit</a>
        <form action="/blog/<%= ice._id %>?_method=DELETE" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
    <p class="card-text"><small class="text-muted"><%= ice.createAt.toDateString() %></small></p>
    <img src="<%= ice.image %>" width="50%">
    <div class="container my-3">
        <p class="card-text"><%= ice.description %></p>
    </div>
</div>





<% include partials/footer %>